body {
	font-family:arial;
	font-size:12px;
	background: #3c3c3e;
	margin:0;
	padding:0;
}

#page {
	margin: 10px auto 10px auto;
	padding: 20px;
	background-color: black;
}

.displayed {
	display: block;
    	margin: 0;
   	position: relative;
    	left: 40%;
    	margin-right: -50%;
}

ul {
	width: 570px;
	padding: 15px;
	margin: 0px auto 0px auto;
	border-top: 2px solid white;
	border-bottom: 1px solid white;
	text-align: center;
}

li {
	display: inline;
	font-size: 140%;
	margin: 0px 40px;
}

a {
	color: white;
	text-decoration: none;
	text-transform: uppercase;
}

.container {
	width:700px;
	height:100%;
	position:absolute;
	top:475px;
	left:50%;
	margin-left:-350px;
}

h1 {
	margin-left: -100px;
	opacity: 1;
}

/* find a way to change individual hex opacities. */
.hex {
	width:150px;
	height:86px;
	background-color: #ccc;
	background-repeat: no-repeat;
	background-position: 50% 50%;			
	-webkit-background-size: auto 173px;							
	-moz-background-size: auto 173px;							
	-ms-background-size: auto 173px;							
	-o-background-size: auto 173px;							
	position: relative;
	float:left;
	margin:25px 5px;
	text-align:center;
	zoom:1;
	opacity: 0.3;
}
		
.hex.hex-gap {
	margin-left: 86px;
}

.hex a {
	display:block;
	width: 100%;
	height:100%;
	text-indent:-9999em;
	position:absolute;
	top:0;
	left:0;
}

.hex .corner-1,
.hex .corner-2 {
	position: absolute;
	top:0;
	left:0;
	width:100%;
	height:100%;
	background: inherit;								
	z-index:-2;
	overflow:hidden;
	-webkit-backface-visibility: hidden;
	-moz-backface-visibility: hidden;
	-ms-backface-visibility: hidden;
	-o-backface-visibility: hidden;			
	backface-visibility: hidden;			
}
	
.hex .corner-1 {
	z-index:-1;
	-webkit-transform: rotate(60deg);
	-moz-transform: rotate(60deg);
	-ms-transform: rotate(60deg);
	-o-transform: rotate(60deg);
	transform: rotate(60deg);
}
	
.hex .corner-2 {
	-webkit-transform: rotate(-60deg);
	-moz-transform: rotate(-60deg);
	-ms-transform: rotate(-60deg);
	-o-transform: rotate(-60deg);
	transform: rotate(-60deg);
}
	
.hex .corner-1:before,
.hex .corner-2:before {
	width: 173px;
	height:	173px;
	content: '';
	position: absolute;
	background: inherit;
	top:0;
	left: 0;
	z-index: 1;
	background: inherit;
	background-repeat:no-repeat;
	-webkit-backface-visibility: hidden;
	-moz-backface-visibility: hidden;
	-ms-backface-visibility: hidden;
	-o-backface-visibility: hidden;	
	backface-visibility: hidden;				  
}			
	

.hex .corner-1:before {
	-webkit-transform: rotate(-60deg) translate(-86px, 0px);
	-moz-transform: rotate(-60deg) translate(-86px, 0px);
	-ms-transform: rotate(-60deg) translate(-86px, 0px);
	-o-transform: rotate(-60deg) translate(-86px, 0px);
	transform: rotate(-60deg) translate(-86px, 0px);	
	-webkit-transform-origin: 0 0;
	-moz-transform-origin: 0 0;
	-ms-transform-origin: 0 0;
	-o-transform-origin: 0 0;
	transform-origin: 0 0;
}			
	
.hex .corner-2:before {
	-webkit-transform: rotate(60deg) translate(-43px, -11px);
	-moz-transform: rotate(60deg) translate(-43px, -11px);
	-ms-transform: rotate(60deg) translate(-43px, -11px);
	-o-transform: rotate(60deg) translate(-43px, -11px);
	transform: rotate(60deg) translate(-43px, -11px);	
	bottom:0;
}		

.hex span {
	display: none;
}

.hex .name {
	background-color: rgba(0, 0, 0, 0.5);
	bottom: 5px;
	display: none;
	font-size: 18px;
	color: white;
	height: 30px;
	left: 5px;
	line-height: 30px;
	position: absolute;
	right: 5px;
	text-indent: 10px;
	top: auto;
}

.hex .kda {
	opacity: 0;
	-moz-transform: rotate(20deg);
	-webkit-transform: rotate(20deg);
	transform: rotate(20deg);
	position: absolute;
	top: 0px;
	right: -13px;
	text-align: webkit-match-parent;
	color: white;
	font-size: 20px;
	display: block;
	vertical-align: baseline;
}

p {
	background-color: #fff;
	color: #666;
	padding: 10px;
	display: inline-block;
	font-size: 14px;
	font-style: bold;
	margin: 20px auto 20px auto;
	width: 140px;
	border-radius: 5px;
	text-align: center;
	position: absolute;
	right: 60px;
	left: 140px;
	top: 475px;
	opacity: 1;
}
